*{ 
    padding:0px;
    margin: 0px;
}
body{
    padding: 30px;
    font-family: 'Roboto';    
}
#container{
    width: 1272px;
    margin: 0 auto;
}
/*Head Section Start*/
.nav-2{
    padding-left: 50px;
}
.head-sec1{
    overflow: hidden;
    border-bottom: 1px solid #A3A3A3;
}
.head-sec1 a{
    float: left;
    top: 32px;
    
}
.nav-button-1{
    font-family: 'Roboto';
    font-size: 15px;
    width: 56px;
    height: 37px;
    color: white;
    padding: 5px;
    background-color: #5D5FEF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
.nav-button-2{
    font-family: 'Roboto';
    font-size: 15px;
    width: 56px;
    height: 37px;
    color: rgb(0, 0, 0);
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.nav-button-2:hover{
    border: 1px solid #5D5FEF;
}
.nav-1{
    
}

.nav-1 li{
    list-style-type: none;
    float: right;
}
.nav-1 a{
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}
.news-btn{
    color: #5D5FEF;
}
.blog-btn{
    color:#A3A3A3;
}
.blog-btn:hover{
    color: #5D5FEF;
}
.avater{
    width: 50px;
    height: 50px;
    float: right;
    background-image: url(images/Avatar.png);
    background-repeat: no-repeat;
    margin-right: 100px;
    margin-left: 40px ;
 }
 /*Head Section End*/

 /*Main Nav Start*/

 nav{
    display: inline-block;
 }
 nav li{
    list-style-type:none;
    float: left;
    padding: 37px;
 }
 nav li a{
    text-decoration: none;
    color: #858585;
    padding: 5px;
 }
 nav li a:hover{
    color:#5D5FEF;
 }
 /*nav Var End*/


 /* Reminder Bar Start*/
 .reminder-bar{
    margin: 5px;
    padding: 30px;
    width: 1153px;
 }
 /*Reminder Bar End*/
 .sort-option{
    padding:20px;
    margin-left: 15px;
    
}
.option{
    height: 36px;
    width: 143px;
    opacity: 70%;
}
.nav-btn-3{
    float: right;
    padding-right: 70px;
}
.nav-button-4{
    font-family: 'Roboto';
    font-size: 15px;
    width: 137px;
    height: 37px;
    color: white;
    padding: 5px;
    background-color: #5D5FEF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
.nav-button-5{
    font-family: 'Roboto';
    font-size: 15px;
    width: 109px;
    height: 37px;
    color: black;
    padding: 5px;
    
    border: 1px solid #5D5FEF;
    border-radius: 4px;
    cursor: pointer;
}
/*start Container */
.Entertainment-container{
    display: flex;
    flex-wrap: wrap;
}
.content-1{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}
.content-img-1{
    width: 244px;
    height: 300px;
    
    background-image: url(images/image-1.png);
}
.content-img-2{
    width: 244px;
    height: 300px;
    
    background-image: url(images/image-2.png);
}
.content-img-3{
    width: 244px;
    height: 300px;
    
    background-image: url(images/image-3.png);
}
.content-img-4{
    width: 244px;
    height: 300px;
    
    background-image: url(images/imgae-4.png);
}
.news-para{
    width: 886px;
    padding: 20px;
    float: right;
    box-sizing: border-box;
}
.news-para h1{
    font-size: 20px;
    padding-bottom: 20px;
}
.news-para p{
    font-size: 15px;
    color: #616060;
    text-align: justify;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}
main > div{
    padding: 20px;
}
.news-content{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.news-bio{
    height: 50px;
    display: flex;
    padding: 20px;
}
.writer{
    width: 200px;
}
.writer img{
    float: left;
    padding-right: 10px;
}
.writer h3 {
    font-weight: normal;
}
.writer h4{
    font-size: 15px;
    font-weight: lighter;
    color: #858585;
}
.Views{
    background-repeat: no-repeat;
    width: 200px;
    padding-left: 80px;
    padding-top: 10px;
}
.Views img{
    float: left;
   padding-right: 10px;
}
.review{
    padding-top: 10px;
}
.read-more{
    padding-left: 150px;
    color: #5D5FEF;
    text-decoration: none;
    font-size: 25px;
}
.read-more:hover{
    color: #000000;
}
/*------------------
footer start
--------------------*/
.footer-sec{
    height: 83px;
    width: 100%;
    
    box-sizing: border-box;
    margin-top: 50px;
}
.footer-sec{
    text-align: center;
    padding-top: 30px; 
    color: #949494;  
}